*{
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.search-bar {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 50px;
  width: 50vw;
  border-radius: 20px;
  outline: none;

  padding: 5px;
}

.search-button {
  height: 50px;
  width: 80px;
  border-radius: 20px;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
