* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameContainer {

    width: 400px;
    height: 400px;

    background-color: black;
    
    position: relative;
}

.food {
    width: 10px;
    height: 10px;
    
    background-color: blueviolet;

    border-radius: 50%;

    position: absolute;
}

.snakeBodyPixel {
    width: 10px;
    height: 10px;

    background-color: greenyellow;

    border-radius: 50%;
    position: absolute;

    left: 0;
    top: 200px;
}