body{
  margin: 0;
  padding: 0;

  background-color: cadetblue;
}

nav {
  background-color: lightcoral;

  height: 60px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a > div {
  margin-right: 20px;
}
